.outfit{
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

body{
    background: hsl(212, 45%, 89%);
    font-family: "Outfit",sans-serif;
}

div.main{
    border-radius: 0.9rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 65px auto;
    margin-bottom: 1rem;
    background-color: hsl(0, 0%, 100%);
    width: 320px;
    height: 497px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}

.main img{
    width: 288px;
    height: 288px;
    border-radius: 0.9rem;
    margin: 1rem;
}

.main h1{
    text-align: center;
    margin: 10px 16px;
    font-size: 22px;
    color: hsl(218, 44%, 22%);
}

.main p{
    text-align: center;
    font-size: 15px;
    margin: 10px 32px;
    margin-bottom: 20px;
    color: hsl(220, 15%, 55%);
}

