.outfit{
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

body{
    background: hsl(212, 45%, 89%);
    font-family: "Outfit",sans-serif;
}

div.main{
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    background-color: hsl(0, 0%, 100%);
    width: 340px;
}

.main img{
    width: 300px;
    border-radius: 20px;
    margin: 1rem;
}

.main h1{
    text-align: center;
    margin: 10px 20px;
}

.main p{
    text-align: center;
    font-size: 15px;
    margin: 10px 20px;
    margin-bottom: 20px;
}

